@model IEnumerable<DAL.Entities.Products>

@{
    ViewData["Title"] = "Index";
}

<div class="container-md">
    <div class="card">
        <div class="card-header"><h4 class="primary">قائمة الاصناف</h4></div>
        <hr />
        <div class="card-body">

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductPrice)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductPrice)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>